<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devtcg.rssreader">
    <application android:theme="@android:style/Theme.Dark" android:icon="@drawable/icon">
        <provider class="RSSReaderProvider"
        	android:authorities="org.devtcg.rssprovider.RSSReader" />
    
        <activity class="RSSChannelList" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:value="android.intent.action.VIEW" />
            	<action android:value="android.intent.action.PICK" />
            	<action android:value="android.intent.action.EDIT" />
            	<cateogry android:value="android.intent.category.DEFAULT" />
            	<type android:value="vnd.android.cursor.dir/vnd.rssreader.channel" />
            </intent-filter>
        </activity>
        
        <activity class="RSSChannelAdd" android:label="@string/app_name">
            <intent-filter android:label="Add RSS channel">
                <action android:value="android.intent.action.INSERT" />
                <category android:value="android.intent.category.DEFAULT" />
                <type android:value="vnd.android.cursor.dir/vnd.rssreader.channel" />
            </intent-filter>
        </activity>
        
        <activity class="RSSPostList" android:label="@string/app_name">
        	<intent-filter android:label="View RSS channel">
        		<action android:value="android.intent.action.VIEW" />
        		<category android:value="android.intent.category.DEFAULT" />
        		<type android:value="vnd.android.cursor.dir/vnd.rssreader.post" />
        	</intent-filter>
        </activity>

        <activity class="RSSPostView" android:label="@string/app_name">
        	<intent-filter android:label="View post">
        		<action android:value="android.intent.action.VIEW" />
        		<category android:value="android.intent.category.DEFAULT" />
        		<type android:value="vnd.android.cursor.item/vnd.rssreader.post" />
        	</intent-filter>
        </activity>
        
    </application>
</manifest> 